<table class="table">
  <tr class="header-row">
    <th>Request</th>
    <td>
      <span class="label label-primary">
        <%= action['method'] %>
      </span>
      <code>
        <%= action['path'] %>
      </code>
    </td>
  </tr>
  <% if action['headers'].present? && action['headers'].is_a?(Hash) %>
      <tr>
        <th>Headers</th>
        <td>
          <%= render :partial => 'request_params', :object => action['headers'] %>
        </td>
      </tr>
  <% end %>
  <% if action['params'].present? && action['params'].is_a?(Hash) %>
      <% format = action['params']['format'] if action['params']['format'] %>
      <% action['params'].delete('format') %>
      <% if action['params'].keys.length > 0 %>
          <tr>
            <th>Parameters</th>
            <td>
              <pre><%= "#{ JSON.pretty_generate(JSON.parse(action['params'].to_json)) rescue action['params'] }" %></pre>
            </td>
          </tr>
      <% end %>
  <% end %>
  <% if format %>
      <tr>
        <th>
          Format
        </th>
        <td>
          <div class="label label-primary">
            <%= format %>
          </div>
        </td>
      </tr>
  <% end %>
  <% if action['meta'].present? && action['meta'].is_a?(Hash) %>
      <% action['meta'].each do |k, v| %>
          <tr>
            <% if v.is_a?(Array) && k == :params %>
                <th>
                  Complete parameters
                </th>
                <td>
                  <table>
                    <tr>
                      <th class="span1">Parameter</th>
                      <th class="span1">Required</th>
                      <td></td>
                    </tr>
                    <% v.each do |row| %>
                        <tr>
                          <td><code><%= row[:param] %></code></td>
                          <td><%= row[:required] %></td>
                          <td><%= row[:description] %></td>
                        </tr>
                    <% end %>
                  </table>
                </td>
            <% else %>
                <th>
                  <%= k.to_s.titleize %>
                </th>

                <td>
                  <%= v.html_safe %>
                </td>
            <% end %>
          </tr>
      <% end %>
  <% end %>
  <tr class="header-row">
    <th>Response</th>
    <td>
      <span class="label <%= action['status'].to_s[0] == '4' ? 'label-danger' : 'label-success' %>">
        <%= action['status'] %>
      </span>
    </td>
  </tr>
  <tr>
    <th>Content Type</th>
    <td>
      <div class="label label-primary">
        <%= action['content_type'] %>
      </div>
    </td>
  </tr>
  <tr>
    <th>Body</th>
    <td>
      <pre><%= "#{ JSON.pretty_generate(JSON.parse(action['body'])) rescue action['body'] }" %></pre>
    </td>
  </tr>
</table>