.container-fluid
  .row
    .col-sm-3.col-md-2.sidebar
      - @api_controllers.each_with_index do |(controller, actions), ci|
        .list-group
          %a.list-group-item.disabled{href: '#'}= controller.gsub(/\W/, '_').humanize.titleize
          - actions.sort.to_h.each_with_index do |(action, data), ai|
            - tab_id = "#{controller.gsub(/\W/, '_')}_#{action}_#{data['method']}"
            = link_to "##{tab_id}", class:'list-group-item', role: 'button' do
              #{action.humanize.titleize}
    .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
      - @api_controllers.each_with_index do |(controller, actions), ci|
        - actions.sort.to_h.each_with_index do |(action, data), ai|
          - tab_id = "#{controller.gsub(/\W/, '_')}_#{action}_#{data['method']}"
          %a.anchor{name: tab_id}
          - data.each do |key, data|
            .panel.panel-default
              .panel-heading
                .row
                  .col-md-2.col-xs-4
                    - if ['get'].include?(data['method'].downcase)
                      %span.label.label-success= data['method']
                    - else
                      %span.label.label-danger= data['method']
                  .col-md-9.col-xs-6
                    %code= data['path']
                  .col-md-1.col-xs-2
                    %button.btn.btn-primary.btn-xs{aria:{controls: "collapse_#{ci}_#{ai}", expanded: 'false'}, data:{target: "#collapse_#{ci}_#{ai}", toggle: 'collapse'}, type:'button'}
                      Expand
              .panel-body
                - description = data.fetch('meta', {}).fetch(:description)
                - if description
                  - data.fetch('meta', {}).delete(:description)
                  .description
                    = Haml::Engine.new(description).render rescue description
              .collapse{id: "collapse_#{ci}_#{ai}"}
                = render partial: 'action', object: data